/* Define color */
:root {
  --MainColor: #009900;
  --InactiveColor: #b3ffb3;
  --HoverColor: #e6ffe6;
  --Background: #e6ffe6;
  --Border: #009900;
}

html {
  font-size: 100%;
}

body {
  background: white;
  color: black;
  font-family: Arial;
  font-size: 0.8rem;
}

/* Section headings*/
h1.title {
  margin-right: 200px;
  font-size: 2rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 25px;
  color: var(--MainColor);
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 20px;
  color: var(--MainColor);
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  color: var(--MainColor);
  margin-top: 0px;
  margin-bottom: 20px;
}

h4 {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--MainColor);
  margin-top: 0px;
  margin-bottom: 5px;
}

h5,
h6 {
  font-size: 0.8rem;
  color: black;
}

/* Container for sidepanel and figure */
.flex-container {
  display: flex !important;
  margin: 25px;
}

/* Nav: Sidebar with pages */
.flex-sidebar {
  background: url("ys.JPEG");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
  border-radius: 4px;
  padding: 300px 0;
  flex: 0 0 220px;
  font-weight: bold;
}

.nav-link {
  color: black;
  font-size: 0.9rem;
}

.nav-pills .nav-link:hover {
  background-color: var(--InactiveColor);
  color: black;
}

.nav-pills .nav-link.active {
  background-color: var(--MainColor);
  color: white;
}

/* Flex for sidepanel and figure */
.flex-child {
  flex: 1;
}

/* First child of container: sidepanel */
.flex-child:first-child {
  margin-right: 20px;
  border: 1px solid var(--Border);
  border-radius: 4px;
  background-color: var(--Background);
  padding: 25px;
  flex: 0 0 300px;
}

/* Box with radio buttons */
.selector-box {
  margin-bottom: 15px;
}

/* Radio button */
label {
  margin: 5px 5px 5px 0;
}

input {
  margin: 0 5px 0 0;
}

/* Tab-style unselected */
.tab.jsx-3468109796 {
  font-size: 1.2rem;
  border-radius: 4px;
  font-weight: bold;
  color: var(--MainColor);
}

/* Tab-style selected */
.tab--selected.jsx-3468109796 {
  color: var(--MainColor) !important;
}