/* Define color */
:root {
  --main-color: #6c26ee;
  --main-inactive-color: #6c26ee41;
  --main-font-color: #000000;
  --main-font-family: Helvetica, Arial, sans-serif;
  --main-font-weight: normal;
  --main-font-size: 1rem;
  --main-margin-left: 25px;
}

html {
  font-size: 100%;
}

body {
  color: var(--main-font-color);
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
}

p,
.contact {
  color: var(--main-font-color);
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  margin-left: var(--main-margin-left);
}

ul {
  margin-left: var(--main-margin-left);
}

/* Section headings*/
h1.title {
  margin-right: 200px;
  font-size: 2rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: var(--main-margin-left);
  color: var(--main-color);
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: var(--main-margin-left);
  color: var(--main-color);
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0px;
  margin-left: var(--main-margin-left);
  color: var(--main-color);
}

h4 {
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 5px;
  color: var(--main-color);
}

h5,
h6 {
  font-size: 0.8rem;
  color: black;
}

/* Container for sidepanel and figure */
.flex-container {
  display: flex !important;
  margin: 25px;
}

/* Nav: Sidebar with pages */
.flex-sidebar {
  /*background: url("ys.JPEG");*/
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
  border-radius: 4px;
  padding: 0px 0;
  flex: 0 0 220px;
  font-weight: bold;
}

.nav-link {
  color: var(--main-color);
  font-size: 0.9rem;
}

.nav-pills .nav-link:hover {
  background-color: var(--main-inactive-color);
  color: var(--main-color);
}

.nav-pills .nav-link.active {
  background-color: var(--main-color);
  color: white;
}

/* Flex for sidepanel and figure */
.flex-child {
  flex: 1;
}

/* First child of container: sidepanel */
.flex-child:first-child:not(h1) {
  margin-right: 20px;
  padding: 25px;
  flex: 0 0 300px;
}

/* Box with radio buttons */
.selector-box {
  margin-bottom: 15px;
}

/* Radio button */
label {
  margin: 5px 5px 5px 0;
}

input {
  margin: 0 5px 0 0;
}

/* Tab-style unselected */
.tab.jsx-3468109796 {
  font-size: 1.2rem;
  border-radius: 4px;
  font-weight: bold;
  color: var(--main-color);
}

/* Tab-style selected */
.tab--selected.jsx-3468109796 {
  color: var(--main-color) !important;
}

/* Table-style - does not work... */
.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner table {
  font-family: Helvetica, sans-serif;
}

/* Div for whole page*/
.whole-page-div+.whole-page-div {
  margin-top: 55px;
}

/* Div for whole page*/
.contact {
  color: var(--main-color);
}

/* List points */
::marker {
  color: var(--main-font-color);
}

/* Link color */
a {
  color: var(--main-color);
}