/* Define color */
:root {
  --main-color: #8957e5;
  --main-inactive-color: #8957e547;
  --main-hover-color: #e6ffe6;
  --main-sidebar-background: #e6ffe6;
  --main-border-color: #009900;
  --main-font-color: black;
  --main-title-font-color: #8957e5;
  --main-background-color: white;
  --main-font-family: Helvetica;
  --main-font-size: 0.9em;
  --main-margin-left: 25px;
}

html {
  font-size: 100%;
}

body {
  background: var(--main-background-color);
  color: var(--main-font-color);
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
}

p {
  background: var(--main-background-color);
  color: var(--main-font-color);
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  margin-left: var(--main-margin-left);
}

ul {
  margin-left: var(--main-margin-left);
}

/* Section headings*/
h1.title {
  margin-right: 200px;
  font-size: 2rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: var(--main-margin-left);
  color: var(--main-title-font-color);
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: var(--main-margin-left);
  color: var(--main-title-font-color);
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: var(--main-margin-left);
  color: var(--main-title-font-color);
}

h4 {
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 5px;
  color: var(--main-title-font-color);
}

h5,
h6 {
  font-size: 0.8rem;
  color: black;
}

/* Container for sidepanel and figure */
.flex-container {
  display: flex !important;
  margin: 25px;
}

/* Nav: Sidebar with pages */
.flex-sidebar {
  background: url("ys.JPEG");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
  border-radius: 4px;
  padding: 300px 0;
  flex: 0 0 220px;
  font-weight: bold;
}

.nav-link {
  color: black;
  font-size: 0.9rem;
}

.nav-pills .nav-link:hover {
  background-color: var(--main-inactive-color);
  color: black;
}

.nav-pills .nav-link.active {
  background-color: var(--main-color);
  color: white;
}

/* Flex for sidepanel and figure */
.flex-child {
  flex: 1;
}

/* First child of container: sidepanel */
.flex-child:first-child:not(h1) {
  margin-right: 20px;
  border: 1px solid var(--main-border-color);
  border-radius: 4px;
  background-color: var(--main-sidebar-background);
  padding: 25px;
  flex: 0 0 300px;
}

/* Box with radio buttons */
.selector-box {
  margin-bottom: 15px;
}

/* Radio button */
label {
  margin: 5px 5px 5px 0;
}

input {
  margin: 0 5px 0 0;
}

/* Tab-style unselected */
.tab.jsx-3468109796 {
  font-size: 1.2rem;
  border-radius: 4px;
  font-weight: bold;
  color: var(--main-color);
}

/* Tab-style selected */
.tab--selected.jsx-3468109796 {
  color: var(--main-color) !important;
}

.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner table {
  font-family: Helvetica, sans-serif;
}

.whole-page-div+.whole-page-div {
  margin-top: 33px;
}